{% extends 'base.html' %}

{% block content %}

<h1>{{ book.title }}</h1>

<p>
    <strong>Author</strong>: {{ book.author.name }}
</p>

<p>
    <strong>Author Bio</strong>: {{ book.author.biography }}
</p>

<p>
    <strong>Publish date</strong>: {{ book.publish_date }}
</p>

<p>
    <strong>Audience</strong>: {{ book.audience }}
</p>

<p>
    <strong>Genres</strong>: 
    
    {% for genre in book.genres %}
    {{ genre.name }}
    {% endfor %}
</p>

<form method="POST" action="{{ url_for('main.book_detail', book_id=book.id) }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Edit this book</legend>

        {{ form.title.label }}
        {{ form.title }}
        <br>
        <br>
        {{ form.publish_date.label }}
        {{ form.publish_date(placeholder="YYYY-mm-dd") }}
        <br>
        <br>
        {{ form.author.label }}
        {{ form.author }}
        <br>
        <br>
        {{ form.audience.label }}
        {{ form.audience }}
        <br>
        <br>
        {{ form.genres.label }}
        <select name="{{ form.genres.name }}" id="{{ form.genres.id }}">
            {% for genre in form.genres %}
                <option value="{{ genre }}">{{ genre }}</option>
            {% endfor %}
        </select>
        <br>  
        <br>  
        {{ form.submit }}
    </fieldset>
</form>

{% endblock %}
